<nav id="sidebar" class="sidebar" [ngClass]="{'sidebar-bg' : hasBackgroundImage()}">
  <div class="sidebar-content">
    <perfect-scrollbar>
      <div class="sidebar-header">
        <a (click)="changerPassword()">Changer Mot de passe</a>
      </div>
      <div class="sidebar-header">
        <a href="/accueil" *ngIf="globalService.user.role.name=='ROLE_ADMIN'">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
          </svg>
          Accueil
        </a>
      </div>



      <div class="sidebar-profile">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="assets/img/user.jpg" alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name" *ngIf="globalService.user.nom">
            <strong>{{globalService.user.nom}}</strong>
          </span>
          <span *ngIf="globalService.user.role.name=='ROLE_ADMIN'" class="user-role">Administrateur</span>
          <span *ngIf="globalService.user.role.name!='ROLE_ADMIN'" class="user-role">Client</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Connecté</span>
          </span>
        </div>
      </div>

      <div class="sidebar-menu">
        <ul>
          <li *ngFor="let menu of menus" [ngClass]="{'active': menu.active , 'sidebar-dropdown':menu.type === 'dropdown' , 'header-menu':menu.type === 'header'}">
            <span *ngIf="menu.type === 'header'">{{menu.title}}</span>
            <a [href]="menu.url" *ngIf="menu.type !== 'header' && menu.type !== 'dropdown' && menu.auth.role>=globalService.user.role.name" (click)='toggle(menu)'>
              <i class="{{menu.icon}}"></i>
              <span>{{menu.title}}</span>
              <span *ngIf="menu.badge" class="badge badge-pill" [ngClass]="menu.badge.class">{{menu.badge.text}}</span>
            </a>
            <a *ngIf="menu.type !== 'header' && menu.type === 'dropdown' && menu.auth.role>=globalService.user.role.name" (click)='toggle(menu)'>
              <i class="{{menu.icon}}"></i>
              <span>{{menu.title}}</span>
              <span *ngIf="menu.badge" class="badge badge-pill" [ngClass]="menu.badge.class">{{menu.badge.text}}</span>
            </a>
            <div *ngIf="menu.type === 'dropdown' && menu.auth.role>=globalService.user.role.name" class="sidebar-submenu" [@slide]="getState(menu)">
              <ul>
                <li *ngFor="let submenu of menu.submenus">
                  <a [href]="submenu.url" *ngIf="submenu.auth.role>=globalService.user.role.name"> {{submenu.title}}
                    <span *ngIf="submenu.badge" class="badge badge-pill" [ngClass]="submenu.badge.class">{{submenu.badge.text}}</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </perfect-scrollbar>
  </div>
  <div class="sidebar-footer">

    <div>
      <a href="#" (click)="logoff()">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </div>
</nav>
