<div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">Création Commande</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">


            <div class="col-sm-6">
                <div class="form-group">
                    <label for="libelle">Date de livraison de la commande</label>
                    <input formControlName="dateLivraison" class="form-control" type="date"
                        placeholder="Lieu de livraison de la commande">
                    <span *ngIf="valider && f.dateLivraison.errors && f.dateLivraison.errors.required">Champs
                        obligatoire </span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="prix">Adresse de livraison</label>
                    <input formControlName="adresseLivraison" class="form-control" type="text"
                        placeholder="Adresse de livraison">
                    <span *ngIf="valider && f.adresseLivraison.errors && f.adresseLivraison.errors.required">Champs
                        obligatoire </span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label *ngIf="!user" for="user">Client</label>
                    <select #myRole [hidden]="user" required="required" class="form-control" formControlName="user">
                        <option *ngFor='let s of clients' value="{{s.id}}">{{s.nom}}-{{s.tel}}-{{s.email}}</option>
                    </select>

                    <span *ngIf="valider && f.user.errors && f.user.errors.required">Champs obligatoire </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="form-control btn btn-primary" value="Enregistrer la commande">
        </div>
        <div class="btn-group margin" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary btn-lg" (click)="create()">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                </svg>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-basket" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M10.243 1.071a.5.5 0 0 1 .686.172l3 5a.5.5 0 1 1-.858.514l-3-5a.5.5 0 0 1 .172-.686zm-4.486 0a.5.5 0 0 0-.686.172l-3 5a.5.5 0 1 0 .858.514l3-5a.5.5 0 0 0-.172-.686z" />
                    <path fill-rule="evenodd"
                        d="M1 7v1h14V7H1zM.5 6a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h15a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5H.5z" />
                    <path fill-rule="evenodd"
                        d="M14 9H2v5a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V9zM2 8a1 1 0 0 0-1 1v5a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V9a1 1 0 0 0-1-1H2z" />
                    <path fill-rule="evenodd"
                        d="M4 10a.5.5 0 0 1 .5.5v3a.5.5 0 1 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 1 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 1 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 1 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 1 1-1 0v-3a.5.5 0 0 1 .5-.5z" />
                </svg>
            </button>
        </div>
    </form>
    <div class="margin">
        <!-- Theme classes dark, material, bootstrap -->
        <ngx-datatable #commande class="bootstrap" [limit]="10" [rows]="rows" [rowHeight]="'auto'" [columns]="columns"
            [columnMode]="'force'" [sorts]="[{prop: 'name', dir: 'desc'}]" [headerHeight]="50" [footerHeight]="50"
            [scrollbarH]="true" [selected]="selected" [selectionType]="SelectionType.single"
            (activate)="onActivate($event)" (select)="onSelect($event)">



            <ngx-datatable-column name="Libelle" prop="libelle">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.produit.libelle }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Prix" prop="prix">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.prix }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Quantité" prop="qte">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.qte }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Date Livraison" prop="dateLivraison">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.dateLivraison }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Action">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="btn-group">
                        <button class="btn btn-warning" (click)="updateProduit(row)">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd"
                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                            </svg>
                        </button>

                        <button class="btn btn-danger" (click)="delete(row)">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path fill-rule="evenodd"
                                    d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
                                <path fill-rule="evenodd"
                                    d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
                            </svg>
                        </button>
                    </div>

                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>