<form [formGroup]="formChangePassword" (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title text-center" id="modal-basic-title">Changer votre mot de passe</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
       </button>
    </div>
    <div class="modal-body">
            <div class="row">
                <div class="col-sm-6" *ngIf="globalService.user.statuts==='active'">
                    <div class="form-group">
                        <label>Ancien mot de passe</label>
                    <input formControlName="oldPassword" class="form-control" type="password"
                        placeholder="oldPassword">
                        <span *ngIf="valider && f.oldPassword.errors && f.oldPassword.errors.required">Champs obligatoire </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label >Nouveau mot de passe</label>
                    <input formControlName="newPassword" class="form-control" type="password"
                        placeholder="newPassword">
                        <span *ngIf="valider && f.newPassword.errors && f.newPassword.errors.required">Champs obligatoire </span>
                    </div>

                    <div class="form-group">
                        <label>Repéter nouveau mot de passe</label>
                    <input formControlName="newPasswordRepeat" class="form-control" type="password"
                        placeholder="Repéter nouveau mot de passe">
                        <span *ngIf="valider && f.newPasswordRepeat.errors && f.newPasswordRepeat.errors.required">Champs obligatoire </span>
                    </div>
                </div>

            </div>

            <div class="form-group" *ngIf="formChangePassword.value.newPasswordRepeat===formChangePassword.value.newPassword">
                <input type="submit" class="form-control btn btn-primary" value="Enregistrer">
            </div>
    </div>
</form>
